
<%- include('components/head'); -%>

 <body>

<%- include('components/nav'); -%>


  <div class="container about-section p-5 mt-5 mb-5" style="border-radius: 20px;">
    <h1> About </h1>
 <!-- <img src="/images/Nav.png"  class="w-100" alt="">    -->
<p>
    Bitvivid Solutions Pvt Ltd is a forward-thinking company dedicated to developing innovative products and solutions that meet the demands of the 21st century. As a certified ISO 9001:2015 & ISO 27001 startup registered under Startup India, we take pride in our ability to stay ahead of the curve in emerging technologies such as AI, big data, blockchain, IoT, and robotic process automation.
    </p>

<p>

  Our flagship product, XConnected, is a public video analytics platform that leverages AI and big data to deliver real-time insights to businesses and organizations across a variety of industries. With XConnected, you can monitor traffic flow, detect anomalies, and predict potential incidents, ultimately leading to optimized public services such as waste management and utility services. Our platform is fully customizable, so you can tailor it to your specific needs and get the most out of your data.
</p>
<p>

  At Bitvivid Solutions Pvt Ltd, we don't just follow trends, we set them. We believe that our innovative solutions are the key to creating a better future, and we're committed to making that future a reality. Our team of experts is always on hand to help you with any questions or concerns you may have.
  
  Join us on this exciting journey as we transform the world through technology. Discover what XConnected can do for you and take your business to the next level with Bitvivid Solutions Pvt Ltd!
</p>
  </div>

  
  
 <%- include('components/scripts'); -%>
  </body>

</html>