<%- include('components/head'); -%>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;

    }

    td {
      background-color: #f2f2f2;
      color: #000;
    }
    tr th {
      background-color: #000;
      color: #f2f2f2;
    }
  </style>

  <body>


    <%- include('components/nav'); -%>


      <div class="container mt-4">





        <form id="api-form">
        </form>

        <table id="api-response">
          <thead>

          </thead>
          <tbody>
            <p><a href="/noHelmet/" class="btn btn-primary" role="button">challan</a></p> 
          </tbody>
        </table>




        <script>
          const toast = $('.toast');
          loggedIN = localStorage.getItem('ISLOGGEDIN')
          if (loggedIN != 'true') {
            window.location.href = '/login';

          }
          const apiForm = document.getElementById("api-form");
          const apiResponseTable = document.getElementById("api-response");

          // apiForm.addEventListener("submit", (event) => {
          //   event.preventDefault();

          // const analytics = apiForm.elements["analytics"].value;
          // const cameraName = apiForm.elements["camera-name"].value;
          // const fromDate = apiForm.elements["from-date"].value;
          // const toDate = apiForm.elements["to-date"].value;

          const url = `/view/challan/`;

          fetch(url)
            .then(response => response.json())
            .then(data => {
              const tableBody = apiResponseTable.querySelector("tbody");
              const header_row = document.createElement("tr");
              header_row.innerHTML = "<th>Timestamp</th>" +
                "<th>Challan No</th>" +
                "<th>Camera Name</th>" +
                "<th>Status</th>" +
                "<th>LP Number</th>" +                               
                "<th>LP Image</th>"
              tableBody.append(header_row)


              data.forEach(rowData => {
                const row = document.createElement("tr");
                /* Object.values(rowData).forEach(value => {
                   const cell = document.createElement("td");
                   console.log(value)
                   cell.textContent = value;
                   row.appendChild(cell);
                 }); */


                row.innerHTML =
                  "<td>" + "<a href='/search/detail/" + rowData._id + "' target='_blank'>" + rowData.timestamp + "</a>" + "</td>" +
                  "<td>" + "<a href='/noHelmet/" + rowData._id + "' target='_blank'>" + rowData.ChallanNo + "</td>" +
                  "<td>" + rowData.CameraName + "</td>" +
                  "<td>" + rowData.Status + "</td>" +
                  "<td>" + rowData.LPNumber + "</td>" +

                  "<td>" + "<img src='" + rowData.LPImageURL + "' alt='image' width='250px' >" + "</td>"

                tableBody.appendChild(row);
              });
            })
            .catch(error => console.error(error));
    // });
        </script>


      </div>





      <%- include('components/scripts'); -%>
  </body>

  </html>
