<%- include('components/head'); -%>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
 
  }
  td {
    background-color: #f2f2f2;
    color: #000;
  }
  tr th {
    background-color: #000;
    color: #f2f2f2;
  }
  a {
    text-decoration: none;
}
</style>
  <body >
    

    <%- include('components/nav'); -%>




<!-- nav bar end -->
<div class="container  mt-5" style="background-color: rgba(255, 255, 255, 0.4);-webkit-backdrop-filter: blur(5px);backdrop-filter: blur(5px); border-radius: 20px;">
  <h2 >Live Alerts </h2>
  <h6 class="border-info p-2">This is the live/Realtime Dashboard.
          the logs presented here is persistent in database.
          if you are looking for older logs please switch to the   <a href="/search"> view logs </a> tab</h6>
          <br>
          <h6> EVENT </h6>
    <div id="live-comp" class='container  pb-2 mb-5' style="overflow-y: scroll; max-height: 70vh;">
        
     
    </div>

</div>
<%- include('components/scripts'); -%>
</body>
<script>
  loggedIN=localStorage.getItem('ISLOGGEDIN')
  if (loggedIN!='true'){
    window.location.href = '/login';
    
  }
  const socket = io();
socket.on('connection',(data)=>{
  console.log("server Connected")
  console.log(data)
})

socket.on('log_inserted', (data) => {
  element=document.getElementById("live-comp");
    
    let beforeText = element.innerHTML

  element.innerHTML ="<a href='/search/detail/"+data._id+"'>"+  
     
         "<div class=''>"+

         
        "<table>"+
          "<tr>"+
          "<th>TimeStamp  </th>"+
          "<th>Event Type   </th>"+
          "<th>Camera Name   </th>"+
          // "<th> Location   </th>"+
          "<th>Image   </th>"+
          "</tr>"+
          "<tr>"+
            "<td>"+data.timestamp+" </td>"+
           
            "<td>"+data.EventType+" </td>"+
           
            
        
            
            "<td>"+data.CameraName +"</td>"+
        
           
            // "<td>"+data.location+"</td>"+
            "<td colspan = 3><img src='"+data.LPImagePath+"'></td>"+
          "</tr>"+
        "</table>"+
        "</div>"+
        "  </div>"+
        " </div>" +
        "</a>"+ beforeText
});
  </script>
</html>