
<%- include('components/head'); -%>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
   
    }
    td {
      white-space: nowrap;
      background-color: #f2f2f2;
      color: #000;
    }
    tr th {
      white-space: nowrap;
      background-color: #000;
      color: #f2f2f2;
    }
    .searchBtn{
      margin-top: 24px;
    }
    td img{
      max-height: 87px;
    min-height: 87px;
    }
    a{
      text-decoration: none;
      color: #000;

    }
    a:hover {
      color: #1ca7ac;
    }
  </style>
 
<body>
  

 <%- include('components/nav'); -%>


 <div class="container bg-white mt-4 pt-4 pb-5" style="border-radius: 20px;">
   

     


  <form id="api-form">
   <div class="form-group">

      <div class="row">
         <div class="col-md-3">

<label for="EventType">EventType:</label>
    <!-- <input type="text"   class="form-control" id="EventType" name="EventType"> -->
    <select class="form-select" required id="EventType" name="EventType" multiple aria-label="multiple select example">
      <option selected value="" >all</option>
      <option value="Speeding">Speeding</option>
      <option value="ANPR">ANPR</option>
      <option value="RLVD">RLVD</option>
      <option value="WrongWay">WrongWay</option>
      <option value="NoHelmet">NoHelmet</option>
      <option value="TripleRiding">TripleRiding</option>

    </select>

         </div>
 
      <!-- <div class="col-md-3">
 <label for="camera-name" >Camera Name:</label>
    <input type="text"   class="form-control" id="camera-name" name="camera-name">
      </div> -->
      <div class="col-md-3" aria-required="true" >
          <label for="from-date">From Date:</label>
    <input type="datetime-local" class="form-control" required id="from-date" name="from-date" >
      </div>
      <div class="col-md-3">
         
         
    <label for="to-date">To Date:</label>
    <input type="datetime-local"  class="form-control" required  id="to-date" name="to-date" >
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn  btn-primary w-100 searchBtn" value="Submit"> Search
    </button>
    </div> 
      </div>
      <!-- <div class="row my-4">
      
 <div class="col-md-3">

      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
          <button type="submit" class="btn  btn-primary w-100 " value="Submit"> Search
      </button>
      </div> 
      </div> -->
     
<hr style="opacity: 1;color: #000;">
   

   </div>
  
  </form>
 
<div class="table-responsive" style="overflow-y: scroll; max-height: 50vh;">


  <table id="api-response">
    <thead>
     
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
  

  <script>
   const toast = $('.toast');
   loggedIN=localStorage.getItem('ISLOGGEDIN')
  if (loggedIN!='true'){
    window.location.href = '/login';
    
  }
    const apiForm = document.getElementById("api-form");
    const apiResponseTable = document.getElementById("api-response");

    apiForm.addEventListener("submit", (event) => {
      event.preventDefault();
      
      const EventType = apiForm.elements["EventType"].value;
      const selected = document.querySelectorAll('#EventType option:checked');
      const values = Array.from(selected).map(el => el.value);
      // const cameraName = apiForm.elements["camera-name"].value;
      const fromDate = apiForm.elements["from-date"].value;
      const toDate = apiForm.elements["to-date"].value;

      // const url = `/api/v1/analytics/logs?EventType=${values}&cameraname=${cameraName}&from_date=${fromDate}&to_date=${toDate}`;
      const url = `/api/v1/analytics/logs?EventType=${values}&from_date=${fromDate}&to_date=${toDate}`;
      fetch(url)
        .then(response => response.json())
        .then(data => {
            if (data.length <1){

              const tableBody = apiResponseTable.querySelector("tbody");
          tableBody.innerHTML=""
          tableBody.innerHTML="<strong> NO LOGS FOUND FOR GIVEN CRITERIA. PLEASE UPDATE THE CRITERIA AND TRY AGAIN</strong>"
          return
            }

          const tableBody = apiResponseTable.querySelector("tbody");
          tableBody.innerHTML=""
          const header_row = document.createElement("tr");
          header_row.innerHTML = "<th>Timestamp</th>"+
        "<th>Event Type</th>"+
        "<th>Camera Name</th>"+
        "<th>Confidence</th>"+
        "<th> LP Number</th>"+
        "<th>LP Image</th>"
        
          tableBody.append(header_row)


          data.forEach(rowData => {
            const row = document.createElement("tr");
           /* Object.values(rowData).forEach(value => {
              const cell = document.createElement("td");
              console.log(value)
              cell.textContent = value;
              row.appendChild(cell);
            }); */

            
            row.innerHTML = 
                            "<td>" +"<a href='/search/detail/"+rowData._id+"' target='_blank'>"+rowData.timestamp  +"</a>"+"</td>"+
                             "<td>"+rowData.EventType +"</td>" +
                               "<td>"+rowData.CameraName +"</td>" +
                               "<td>"+rowData.Confidence+"%"+"</td>" +
                               "<td>"+rowData.LPNumber+"</td>" +
                               "<td><img  src='"+rowData.LPImagePath+"'></td>" 
                                //  "<td>"+rowData.Location +"</td>" 
                                   //<td>"+"<img src='"+rowData.LPImagePath+"' alt='image' width='250px' >" +"</td>"

            tableBody.appendChild(row);
          });
        })
        .catch(error => console.error(error));
    });
  </script>
      

 </div>





 <%- include('components/scripts'); -%>
  </body>

</html>
