<!DOCTYPE html>
<html>
<head>
	<title>intelligent traffic management system (itms)</title>
    <h2></h2>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}

		.container {
			max-width: 800px;
			margin: 0 auto;
			padding: 20px;
			border: 1px solid #ccc;
		}

		h1 {
			text-align: center;
		}

		table {
			width: 100%;
			border-collapse: collapse;
			margin-top: 20px;
		}

		td, th {
			padding: 10px;
			text-align: left;
			border: 1px solid #ccc;
		}

		thead {
			background-color: #f2f2f2;
		}

		.amount {
			text-align: right;
		}

		.signature {
			margin-top: 40px;
			text-align: center;
		}

		.signature img {
			max-width: 200px;
			height: auto;
			margin-top: 10px;
		}

		.note {
			margin-top: 20px;
			font-size: 12px;
			text-align: center;
			color: #999;
		}
	</style>
</head>
<body>
	<div class="container">
		
		<h1>intelligent traffic management system (itms)</h1>
        <div class="signature">
			<img src="jpg.png" width="100" height="150" alt="Paris" class="center">
			
		</div>
		  <img src="1.png"  alt="Paris" class="center">
		  <thead>
			<th>Vehicle Number</th> <tbody>MP04QE2457 </tbody>
		  </thead>

		  <img src="2.png"  alt="Paris" class="center">

		<table>
			<thead>
				<tr>
					<th>Challan Number</th>
					<th>Vehicle Number</th>
					<th>Date & Time of Detection</th>
					<th>Date & Time of Generation</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>ICMSMP04QE245 721Mar202301370
						3PM
						</td>
					<td>MP04QE2457</td>
					<td>Mar 16, 2023
						10:33:16 AM
						</td>
					<td class="amount">Mar 21, 2023
						01:37:03 pm
						</td>
					<td>Ratnagiri</td>

				</tr>
			</tbody>
		</table>
		<div class="signature">
			
			<img src="Screenshot 2023-03-30 155429.png"   >  
			
		</div>
		<img src="4.png"  alt="Paris" class="center">.center
		<div class="note">
			<p>Note: This is a computer-generated challan and does not require a physical signature.</p>
		</div>
	</div>
</body>
</html>